.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
images/preview.jpg
images/modifier-select.jpg
images/matches-overview.jpg
images/reference-table.jpg
images/preview-area.jpg
images/validation-error.jpg